.container {
    height: 100vh;
    margin: 30px 0 0 120px;
}

#conversation_list {
    transition: 0.5s;
    margin-left: 30px;
    float: right;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
}

.message {
    border: 2px solid #dedede;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px 15px 0 15px;
}

#message_list {
    margin-right: 300px;
    width: auto;
    height: 70%;
}

.message_avatar {
    float: left;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.message_nickname {
    float: left;
    padding-right: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

.message_date {
    font-weight: 100;
    font-style: italic;
    margin-bottom: 5px;
}

.message_content {
    display: table;
}

.conversation_avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.conversation_nickname {
    display: inline-table;
}

#message_sender {
    border: 2px solid #dedede;
    background-color: #3a3a3a;
    padding: 25px;
    width: auto;
    height: 100px;
}

#message_sender_input {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

