.SEARCH-search-container {
    margin-top: 2%;
}

.SEARCH-search-button-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SEARCH-profile-pic {
    margin-top: 5%;
    height: 150px;
    width: 150px;
}

.SEARCH-username {
    color: #282c34;
    font-size: 175%;
    font-weight: bold;
    margin-top: 3%;
}

.SEARCH-name-surname {
    color: gray;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 3%;
}

.SEARCH-grid-container {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.SEARCH-profile-holder {
    display: flex;
    text-decoration:none;
    margin: 5%;
    flex-direction: column;
    align-items: center;
    border: outset darkgray;
    border-radius: 10%;
}

.SEARCH-message {
    margin-top: 1%;
    text-align: center;
}

.SEARCH-project-introduction {
    font-size: 15px;
    line-height: 130%;
}

.SEARCH-title-height {
    height: 25px;
}

.SEARCH-intro-height {
    height: 50px;
}

.mt-3.ml-2.mr-2.flex-box {
    grid-column: span 3;
    border: outset darkgray;
    border-radius: 20px;
    overflow: hidden;
}