
.INVITATION-container {
    padding: 5px;
    display: flex;
    align-items: center;
}

.INVITATION-name-surname {
    color: gray;
}

.INVITATION-buttons-container {
    display: flex;
    justify-content: center;
}

.INVITATION-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    height: 60px;
    width: 180px;
    font-size: 26px;
}