.PROFILE-profile-container {
    margin-top: 2%;
    font-size: 16px;
}

.PROFILE-info-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PROFILE-username {
    font-size: 200%;
    font-weight: bold;
}

.PROFILE-name-surname {
    font-size: 150%;
    color: darkgray;
}

.PROFILE-bio {
    text-align: center;
    padding: 3% 6%;
}

.PROFILE-profile-pic {
    height: 256px;
    width: 256px;
}

.PROFILE-ul-actions{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.PROFILE-icon-placeholder{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 60px;
    width: 225px;
    margin: 10px 0px;
    border-radius: 25px;
}

.PROFILE-icon{
    margin: 0px 15px;
    height: 40px;
    width: 40px;
}