.RANKING-title {
    font-size: 55px;
    text-align: center;
}

.RANKING-thumbnail-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.RANKING-clickable {
    cursor: pointer;
}

.HOMEPAGE-project-introduction {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.HOMEPAGE-project-title {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.PROJECT-catergory-list {
    overflow: scroll;
    word-wrap:break-word;
    height: 100px;
}