.PROJECT-button-section {
    justify-content: center;
    display: block;
}

.PROJECT-content-section {
    overflow-wrap: break-word;
}

.PROJECT-thumbnail-section {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PROJECT-button {
    width: 100%;
    padding: 8px;
    font-size: 20px;
}

.PROJECT-introduction {
    line-height: 130%;
}

.PROJECT-categories {
    display: inline-flex;
}