.WORKSPACE-left-panel {
    padding-right: 50px;
}

.WORKSPACE-file-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.WORKSPACE-center-upload-div {
    display: flex;
    align-items: center;
    justify-content: start;
}

.WORKSPACE-center-upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.WORKSPACE-center-searchbar {
    display: flex;
    align-items: center;
    justify-content: end;
}

.WORKSPACE-task-badge {
    width: 100%;
    height: 50px;
    font-size: 28px;
}