
.LOGIN-container {
    margin-top: 2%;
}

.LOGIN-form {
    display: flex;
    flex-direction: column;
}

.LOGIN-forgot-password {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}