html, body, #root {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.registration-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}

.registration-form {
    padding-right: 15%;
    padding-left: 15%;
}

.form-group {
    padding-top: 1%;
    padding-bottom: 1%;
}