.RegisterAlert {
    /*padding is the space between border and content of an element*/
    padding-right: 20%;
    padding-left: 20%;
}
/*React-bootstrap close button */
.close::before {
    content: 'x';
    font-size: x-large;
    visibility: visible;
    color: red;
    font-weight: bold;
}
/*class for hiding information from screen readers*/
.sr-only::before{
    visibility: hidden;
}
    
.close{
    visibility:hidden;
    position:absolute;
    right:32px;
    top:10px;
    width:20px;
    height:20px;
    background-color: rgba(247, 12, 12, 0.5);
}